@charset "UTF-8";

/* CSS Document */

/*copyright lynda.com 2011
feel free to use these styles as you wish
attribution would be nice, but not required
*/

/* desolve color palette
#4C4341     rgb(76, 67, 65)  ASH
#646266      rgb(100, 98, 102)  DULL GRAY
#7B798F     rgb(123, 121, 143)  PEWTER BLUE
#ADA982    rgb(173, 169, 130)  DARK TAN
#D8D5BC   rgb(216, 213, 188)  MED TAN
#EDE4D6   rgb(237, 228, 214)  LIGHT TAN
#667F6A     rgb(102, 127, 106)  DARK GREEN
#DB7E40	 rgb(219,126,64) BURNT ORANGE
*/

/*Global styles -----------------------------------------------------------------------------------------------------------*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

a {
	text-decoration: none;
	color: rgb(219,126,64);
	border-bottom: 1px dotted rgb(219,126,64);
}

a:hover {
	color: #7B798F;
	border-bottom: 1px solid #7B798F;
}

.preview a {
	display: block;
	height:100%;
}

.preview a:hover {
	border: none;
}

a.phone {
	border: none;
	color: inherit;
}

a.phone:hover {
	border: none;
	color: inherit;
	cursor: default;
}

html {
	background: rgb(123, 121, 143);
}

body {
	font: 100% Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	background: #fff;
	color: rgb(76, 67, 65);
	font-weight:normal;
	font-style:normal;
}

#mainNav h2 {
	display: none;
}

nav ul {
	list-style: none;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}
/*Basic layout styles -----------------------------------------------------------------------------------------------------------*/

body {
	width: 1280px;
	margin: 0 auto;
}

header {
	height: 165px;
}

article {
	float: left;
	width: 850px;
	padding-left: 50px;
}

aside {
	float: right;
	width: 280px;
	padding-right: 50px;
}

#pageFooter {
	clear:both;
	overflow:hidden;
	height: 150px;
}

/* Content region styles -----------------------------------------------------------------------------------------------------------*/

/*header styles*/
header {
	background: rgb(100, 98, 102);
	padding-top: 1px;
	overflow: hidden;
	margin-bottom: 1.5em;
	padding-left: 50px;
}

header h1 {
	font-size: 3.2em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 100px;
	line-height: 165px;
	margin-right: .5em;
	float: left;
	padding-left: 110px;
	background: url(../_images/desolve_logo.png) no-repeat left center;
	color: #fff;
}

header h2 {
	font-style: italic;
	font-weight:normal;
	font-size: 1.4em;
	color: #fff;
	float: left;
	text-transform: lowercase;
	letter-spacing:.1em;
	line-height: 165px;
}
header a, header a:hover {
	color: #fff;
	border: none;
}

/*nav styles*/
#mainNav {
	overflow: hidden;
	margin-bottom: 1.5em;
	padding-left: 50px;
}

#mainNav li {
	float: left;
	margin-right: 3.6em;
}

#mainNav a {
	text-transform: uppercase;
	display: block;
	color: rgb(76, 67, 65);
	border: none;
	font-size: 1.2em;
	text-align: center;
}

#mainNav a:hover {
	color: rgb(219,126,64);
}

#mainNav a.current {
	color: rgb(123, 121, 143);
	cursor: default;
}

#mainNav a em {
	font-size: .8em;
	display: block;
	text-transform: lowercase;
	color: rgb(76, 67, 65);
}

a.gallery {
	background: url(../_images/icon_sprites_25.png) no-repeat 0 3px;
	padding-left: 22px;
}

a.gear {
	background: url(../_images/icon_sprites_25.png) no-repeat 38px -98px;
	padding-left: 22px;
}

a.interact {
	background: url(../_images/icon_sprites_25.png) no-repeat 62px -197px;
	padding-left: 24px;
}

a.shop {
	background: url(../_images/icon_sprites_25.png) no-repeat 6px -297px;
	padding-left: 20px;
}

/*banner styles*/
.banner {
	height: 350px;
	padding-left: 50px;
	overflow: hidden;
	background: url(../_images/gallery_banner.jpg) no-repeat;
	margin-bottom: 4em;
	position: relative;
}

.banner h1 {
	font-size: 2.2em;
	color: #fff;
	padding-top: 290px;
	letter-spacing:.1em;
	text-transform: uppercase;
}

.banner p {
	width: 300px;
	padding: 15px 15px 0;
	height: 335px;
	font-size: 1.2em;
	color: #fff;
	background: rgba(123, 121, 143, .8);
	position: absolute;
	top: 0;
	right: 0;
}


/*article styles*/
article section {
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 2em;
}

article h1, article h2, article h3 {
	font-family: Georgia, Times, "Times New Roman", serif;
}

article > h1 {
	font-size: 1.8em;
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 1.5em;
	background: url(../_images/icon_sprites_50.png) no-repeat
}

article h2 {
	font-size: 1.4em;
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-top: 1.5em;
}

article h2 a {
	color: rgb(76, 67, 65);
	border: none;
}

article p {
	font-size:1em;
	margin: 1.2em 0;
}
article ul {
	margin:0 0 1em 50px;
}

/*page-specific main content styles*/
#home h1 {
	background-position: right -790px;
	padding: 20px 0 5px;
}
#galleries h1 {
	background-position: right top;
	padding: 20px 0 5px;
}
#contact h1 {
	background-position: right -395px;
	padding: 20px 0 5px;
}

#galleries h2 {
	font: 2.8em Georgia, Times, "Times New Roman", serif;
	float: left;
	margin: 0 0 .1em;
	border: none;
}

#galleries p {
	font-size:1.2em;
	margin: .8em 0;
}

#galleries p.pubdate {
	font-size: 1.2em;
	text-transform: uppercase;
	float: right;
	padding-top: .8em;
	margin:0;
}

article .preview {
	height: 250px;
	clear:both;
}
article h2 a:hover {
	color: rgb(123, 121, 143);
	border: none;
}

.preview a, .preview a:hover {
	display: block;
	border: none;
}

.philly .preview {
	background: url(../_images/philly_banner.jpg) no-repeat;
}

.chicago .preview {
	background: url(../_images/chicago_banner.jpg) no-repeat;
}

.nyc .preview {
	background: url(../_images/nyc_banner.jpg) no-repeat;
}

/* individual gallery styles*/
#gallery {
	margin-top: 2em;
}

#gallery h1 {
	background: none;
	padding: 0;
	border: none;
	margin: 0;
	font-size: 6.4em;
	font-weight: normal;
	font-style: normal;
	color: rgba(255, 255, 255, .6);
	text-shadow: 2px 2px 0 rgba(123, 121, 143,.6);
}

.intro {
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
	margin-bottom: 1em;
}

.intro p {
	font-size: 1em;
	margin: 0 0 1em;
}

.photos {
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
	margin-bottom: 2em;
}

.photos img {
	width: 100%;
	margin-bottom: .5em;
}

.photos::after {
	content: "All photos by James Williamson | used by permission";
	font-style: italic;
	text-align: right;
	margin: 0;
	padding: 0;
	display: block;
}

/*contact styles*/

#contact h2 {
	font-size: 1.4em;
	float: none;
	margin-bottom: 1em;
}

#contact h3 {
	font-size: 1em;
	border-bottom: 1px solid rgb(76, 67, 65);
	margin: 1em 0 .5em;
}

#contact ul {
	list-style: none;
}

#contact li {
	display: inline-block;
	width: 5px;
	margin-bottom: 1em;
	width: 225px;
}

#contact li a {
	color:rgb(76, 67, 65);
	border: none;
	padding-left: 40px;
	line-height: 50px;
	font-size: 1.2em;
	display:block;
}

#contact li a:hover {
	color: rgb(123, 121, 143);
}

a.twitter {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAt1JREFUeNrsWDtv01AUvo6QCAPIHZCo6OCwwRRYeAyoAXVA7RDUCYkhRvwAMiNRZUcEdoQ7IDEVOlAxIEjFQMtSPLUT2AMoSAxYLBiWcD7nXGrFjxvboTUSn3QUx497Pp9z7nlYEzkwGAzq9AMxYi67JLamaXbWdbUMBKB4iaRJovv+T/Gl/zVy37Hpo6JaPYhDj2SVpEPE3ImQYRIWyaz37bvYeGsLx/kUSyRMqFabEecv1IU+dQSn1klMFSlNQeQW/XRB4tnKy4BEVoDU1cU5SapNhO5nIkMkdJAgafVevxO9V5uiKBqXz4nGpbM4XGZSnpIME+lRTNSfPH4escaNm4vCoLcN487tB2Nb6dr1BcQUgrsxSqgS80wXRB49XMnlljRgPayL9dnyIpEMx0gLFkkL0CLAulgfelhflAzvmi5iZNIWibMQ9EAf641YxsKumUSwjgPogT5OG7sBzOwcKyFOTp85RXJyNKntptwES/bJJS/W3qQGtEkbAofIQQf4/BJYJrkHOWJ0B4WRdk3lLuil9ZHZTemmJjLrfoD1NoOY4aKn/+2gTbMO9IMH3FRPKnoS77e2hftxSPbK/MUgbsJArMXhB607zlaHforDgIyhyinwK0d+8GDC2xXKPRR3RkWUCP/J/DNk3NHdsddg/S7I2Ejv+0UoVF7sCnfxXi1nSpflIi9YrwceMmZW0TyPg35MTkIhzQvWiylCyELZobdrgaUqgfn+r2h/S72trh8W9tZO8L96aOh2nEMjn2YVtmrnDxmUb6oN69TFz967aymzZRyGbUbUQmgh/ISygKkBY4wcYcJb2wRLdPFp2Nn+kKklnU7YGNDDVjEjeYbZtWFyVTA/JdPLWqWCcWIm1j08trTDg13cqGKRWVvo4lUWgFuM2nExRW8ot6js+hznc/C8Q9U+7Cbch3GH7l0mImahuakIVHNTuSfK0s3apfwKUbrvM3v55eq3AAMAe02W/xUZP0QAAAAASUVORK5CYII=) no-repeat left center;
}

a.flickr {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAxRJREFUeNrMmL9v01AQx58rS02XyhmQUokhpZOzYHeBdkAJqAOCAdQJiSFB7JC/oAoI1jIyINIBiakiA6gDgkRINLAQT2VCyQBKJYZYZSlTuK85V4794h/Nj+akp1ix9e7je9+7986KOIX1+32DfjCyktsdGpaiKFbSeZUEAHC8ReMWDe34+K847P4OPJdZOidSqXlc2jRqNCoE1hkLDENUaeTt3pFo7lui3f4pBfECLS+fF2vrhtDSi/irQaMUBaVEgDykn21AvNl970AkNUDd3txwocoE9CwRDEFogKBRrH/8KuofvohRrXDtsihcvYTLHYayI2EYpE6aMF6/ehuIBvRgruaEnrsgNG3RfWOB6Nn2kejS8nXav8T3gx/SKN25exNzQNwFP5AMpkogxZcvdgO60HMrTshZoKH29PFzAZHL9HTv/ibm2CGYkvfenEQjRUTED4IIxAVBlGQgMMyL+eGH/QVhOGu2oRGZUJEZcUBg3ZBMg2F++IE/9uuY6nmmijcaJtYlCq/fMGHzc2sgCtBFHIMf09QRcZSNwklkmC6P9I1rrW8HzoT+5cBbxy0B7C/vRsddpi1EJUkdse0/I6c7/MEvV/b/2URkvb13n7TmfmvgYaSwuar7y/xAKssMmRjX1tZNcf3GFZsyK63ypqfJooIMyg7RAO65NSbM8BIL9BIZ1hyyCQJ3l5f9auCAgI1hm95p7dGTBwJR1vWVocC0Es4zhwxGUTegmew4QbzhD4ucV/jsP6tGpZ+b6qia3iWT7Vn+Z8JAZNuFKiZoSH/sUxB7j8Sepr3MSYSFeWmFniiMv25FlY85MUMGmE5GUuqnaey/Axgr5akDZwHCxdRScYqngmPTBqdNIsXjHEshJ3C4mqnhiHAWxn5rXgFXUKDibv/jjAoXxsoJDLcQDZzkpmnsr+G2MN7ULoESp/hpGPxwVEqBOsN0ZbQTk14uzM9tS9nb2A1UYDRYlFkXqZ0IdAf+cy0fihKdfd1URruC/snf0CXum0aNSKK+aaY6ypnrtWfyK8TMfZ+Z5perfwIMAMprx6Ii41NCAAAAAElFTkSuQmCC) no-repeat left center;
}

a.facebook {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAsRJREFUeNrUWL9v00AUPkeV6ITcAalVGRwxpZPThR9TAmJjCOqExFAj/gD8F0QREmsZGRDJgMRUkYENQTLxYwFPZULNACoSA6eylCm87/RcnV3bZ5s6NZ/0FCv23ff53Xvv7tkSJTCfz136gTkJt2dkgWVZQdF5rQICQNwn65HZR0d/xI+DnyeeW127IJaXz+FSko3JBiRsdipiWMSQrCN/HYr37wKxv/8tUYguqNm8KK5ec4W9ch5/Tck8kyjLIOQB/exAxMvd10pEUUDU7a2boSifBD0uJIZE2BBBtj15+1FM3nwQ/4rujSuie/0yLkcsShrFsJAJxYT74vmrUt7I8tKdu7cQUwjublxQkpghCdl+9nQ3My4ABGp7c0M4zXWxQsuAWFGRS8sq5SG9yHc1x5e9r5F4und/C2NHJMZLFRPGyJCEmDzS2rikYoEzJxOPHj4RyD7dQx4JisdQI5Y1O4gRkxAEY14h8JIuBMD84AEf80bFIH0xME+wImXzCAEOUpYaPODjsqGwpHmlg/TNgzWOjcjk9KafP+2FBEps0nM6wEfL1QE/alDomT4mKZs5EKG9qQKWBvNlzYl7PKavL1MPlbUspPxdeizz9tQy8aZnm7yCFG5vto7TM3Kv3aIMWU8chxKRBea1oQMx46ZtevEMcigl0+5xuS8M8IKfYszFMjkmIVWD+Z2GqBGW8j6IbAlrEMq5vmSntZnWyjO1EzNbNVTKqsH8qgIHKN1nJUg7MwcNPsXLZkoNqRrMK6EjjJkxduKzAPOO9QAeoIIu2jvg48o9OBbDLcQUB6ZFgvmmYQujp7YHlTjFLwLgYa94J+oMq/PRTlS9XJif2xZfb+wiRY8PxyO0E1WlOubF/OCJN3RJFdhHX4P9J81DONfO6BwSmn7CM3mE2xSUE///6ihr12vX8itE7b7PLPLL1V8BBgDG73obtV/8SAAAAABJRU5ErkJggg==) no-repeat left center;
}

a.linked {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAsFJREFUeNrMmD1s01AQx5+jSJQFpUMlKnVwYGqnpAu0A0qoGPgYijpRdYhRJ4QEmZGIgsQc2BHp0MJUkaGIAUEihpZO8USmEg9FRWLAYmk6hfuHc3DjFztxHccnnRK9PL/75d7du3dWhA9pt9sp+oCqkp8NUl1RFH3YdZUhAGC4QLpMmmi1TsTPo1+OeRenp8TExDl8NUkrpEUCMwKBYYgyacb8/Ufs7eqi2TyUgtiBkskZsbCYEonJCxiqkWpeUIoHyGP6KAHi3fbHDsSwAqi7KzcsqDwBvRgKhiASgCDNVT/vi+qnr+Kskl26KrLXr+DrBkOZnjAMUqWYSL3d3PHlDTcv3Vu7g5hCcGd7gWQwZQLJvX613YkLLKCtr5ya8/TJS99AiKf7tB4BbRCMZv8tJomRHDziFqBnEayL9WGH7TlhOGtKiJEgt0YmWB92YI/tOjxTRtYEEayDCOzAHh8b/2GYLoP0DVPYXsbyjuWZAihHvT2y7WLvFOwwyzhZxyFsFyVGxLnoJcL2it07sA+OOKpvv6I3yJlxnoriMT+PAjlNY+qlme6c1vGJaDQOrO2Qpjrs07MdGNXvmXLr9jWhJv8Zbnw7ELNzl6XzbtK8vd26+PD+S18gWkeNBeXufiCWLCymRXp+znVOLOgYwL80KA4MSQym52ddn40HCfFma+dUbCCGHjxcta4P3S0duWcQhL1BirF6vTHwGoAxkBXjFLZvAEaHO8cFZLsz6zG+xZtJj/0clbBdExxWzFRweR6HsN2KPZuKFPE5UA5SFp49f+QYQ6b0jiO9m80frl7hTCt2s4lbiBpu8WEK26tZLYw9tTVQ4hYfhsAOe0VzHHqgo8qZp3aiZHw/7G4XiqDhs6If0UGIs6f3eWwPty15e2Pn2R2MIpX7dQfR7psi1VFGrteO5FuIyL2fCfPN1V8BBgC1+pXDVk2EjQAAAABJRU5ErkJggg==) no-repeat left center;
}

a.google {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA55JREFUeNrMWL9PE1EcfyUk4CA5Ek0kYSiweEytC8JgehIHo0NNJxOHnuEPEKIzYTfiYJyMZRCYiB1qHIyWmEh1oXVpXaAdNCXRhEaHFhf8fq7vne9e73q9Qkm/yUuv7+6+38/7/vh837sQ60KOj48j9IMRdrldoVEIhUKFoHpDAQDA8DKNOA2t0ThiB9WfLc9dGrvIhoeHcFmjkaaxQsAqpwKGg0jRiNUOf7PcToGVy99dgciAJibG2exchGmjI5japmH6gQr5AHlAP6sA8XrrnQUiqADUncQNAWqRAD0NBIZAaABBI5n98IVl339mJxVj/iozrs/gco2DqvmC4UCylBORzVeZrrzRzkt3791GTiG5DRWQG5gUAUm+fLHlyAu4GTkAhcgJIXimmUO/WPSKbs1Vae7tm4+e+XR/IQFAawTGlO8NuuRIEh4RQFAZN29dI0PTnsplcH4CvdBvLiSSZO+rnEMDStWsIkdEaAAEq/AC0q1AP+zAHrfb4pkUqkZOVlSBumo8UyrtsUbjbzN82nkrdLxaOhbYiUZ1vAfaMGwwHF0M5Su7X5+ecijI7xaZ/IycmOT2wB6CLnovBvvgIBGmZaxYrhyRjDbH0z03ICcNF+xyZrdzJg5mlWVMCU9+t8R6Idxu3AoTb3qaH5/wFQQWFECYwgjPgi7cvAP7wAHPRLyanizD54Z64hnYhX3gAJiwG5B6/cjx/7I+yXol3H54wOuBSvmH4z+45rT5RpVBrxsoY2N+RuxNJN65YCWz8CYoIDw57gwpvYNyF9fqnO19JT08wSCOyHTeaW2ZnYtao50AoMo7bnNqUg/4sWRuJ8/OSuCZSrtGh+77rbhvNctOG+KB1LXFewcunbzerCKhtwIwBcRTvODFlM+fbVj9Z0zq0o36/5jLIUCIBW/xsnXMeeyZC4PYxRPh1Ci5ND+uAfFZjbK455hXe1jQDRdUA4fImTQ2Tt1KJOrsY1WfRTkLwrKblhN4BSFQS08uTW9l0RbPqBzVzit867Hi2HZSqLIUgtiTxykHkKVHJhMdvXb4x84RcItOrOy235F1tJOlhybAbFOIDJVnTLpRxi5ebLCwYpHcnVbSxnqm49MC94rZwjP8gLUIkhPhCtKPUC2b6xnfhivCw8l0UT7YtT0dwICuT5GHJq1tgBenlEr7LPcpb5exHzt7nQ4CnZvg1lFtxLWv9OTc1Fcnyr47a/flV4i++z5zll+u/gkwACswGWZAoYg4AAAAAElFTkSuQmCC) no-repeat left center;
}

a.youtube {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA1lJREFUeNrMWL+PEkEUHgjJYWOwMNHEArTiKrA5TxMjGgujxZmrTCzA2Ct/wQUTayyMlZErjFddpNBYGIWYCNgIFVcpW9wFE4sjNmKF74M3yzA7+4sjF14yYY/bnfft9773zQwRMUeMRqMMfWAkDf+2aHQikUgn7LyREACQeIvGBo3EcPhP/Or/dtx35uxpEY+v4HJAo0qjRMCshYBhEBUa1waHf0Sz0RG93r4RiAoolTon1i9nROLUSXxVp1HwAxXxAfKYPsoA8Xb34xhE2ACou5s3JagiAXoWCgyBSAAEjXzt8zdR+9QSR43cjUsid30Nl9sMauALhoHUSBOZndfv5mLDi6V79+9AUxB3TgcUNTxTBpBXL3cXCgSB+TAv5mfm3ZmRGqkcAciTp4/sa7d5wFDh4aZDQ1Gta8rQyKIZMTGEPMjHeR1lqqBrFiHWIIE8yMe2MS0To+vptD6YUMlvc+AKNHtxlUZ6fJ2kEsiAF8EcZbS/79HomsqVggfF+PstoNTLc0jfIZFM0vzanpncbltqWfYRh/nNlufAUS7kpWfh7AVZpg04q4PKSV3tWL+SNYrRBCRocF4sMSLGi17CJFqg3uv+EOnVC5NyZNOOUmW4PAj1Xq9u0tlBfuAAMxm3RQ/RUhgDA7JsCCyI6t+tRuiFWtXVGEzSa9EDckt5u6zChMqCSXNhAAFHNFgbTrUDIUthYlV209c8EQ1qUuwJNggAkqBAM/RyLGD0N4dOeAVm/+gaWz5slwUGg4QqO6peVFtQ9Xfr9lViMTtuf2whVLGbAqZn6ebkxQ42SjMbXq2EfQIj50O3AZAqctWBNXO0wEwHDwUBBF3o5dDN8sP7L6424ebSvGfuxLCLJ8MZEJUJrxaXQsXbSeDSFPV7Xjx/Y++D4ydWxPDvxMf6hvlTk7VsABxybapSh+SbjbbvTk1lsOlhckju93KKPVRVAZdAYUpZcc372LUZBkz1D7sN5dKVbDB8hKjr4tRrq24PTPoJG5yvLo8wamsXgBIt6EFnoBIFPS0wKwWHzzC6IsxML5e+QFo+h7gg5WHTLKoHO9NRpUL057GLlwnxcPL8FKD1c3/uRRHlxg6S2nmbgBSW9ty03CfKpTtrL+WvEEv3+8xx/nL1X4ABAH5eDkhUFH1oAAAAAElFTkSuQmCC) no-repeat left center;
}

/*form styles*/
fieldset {
	border: none;
	background: rgb(237, 228, 214);
	position: relative;
	width: 80%;
	min-width: 300px;
	padding:1em;
	margin: 1em 0;
	-webkit-border-radius: 0 .5em .5em 0;
	-moz-border-radius: 0 .5em .5em 0;
	border-radius: 0 .5em .5em 0;
}

fieldset:before {
	content:attr(title);
	display: block;
	font: 1.2em Cantarell, Arial, Helvetica, sans-serif;
	font-weight:bold;
	border-bottom: 1px solid rgb(76, 67, 65);
	width: 80%;
}

legend {
	position: absolute;
	top:0;
	left: -2000em;
}

fieldset p {
	font: .8em Cantarell, Arial, Helvetica, sans-serif;
	margin: 1em 0 0;
	font-style: italic;
}

label {
	display:block;
	font-size: 1em;
	margin: .8em 0 0;
}

input[type="text"], input[type="email"], input[type="url"], textarea {
	width: 250px;
}

input[type="submit"] {
	display:block;
	margin: 1em 0;
}

.inline {
	display: inline;
}

fieldset div {
	width: 250px;
}

/*aside styles*/
aside h2 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 1em;
	clear: both;
}

aside nav {
	margin-bottom: 2em;
}

aside nav a {
	display:block;
	padding-left: 16px;
	border: none;
	color: rgb(76, 67, 65);
	line-height: 2em;
	margin-bottom: 1px;
}

aside nav li {
	background: rgb(216, 213, 188);
}

aside nav li:nth-child(even) {
	background: rgb(237, 228, 214);
}

aside nav a:hover {
	color: #fff;
	border:none;
	background: rgb(100, 98, 102);
}

.contest img {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}

.contest p {
	font-size: .9em;
	margin: 0 auto 1.5em;
}

.enter a {
	float: right;
	border: 1px solid #999;
	margin: 1em 0 1.5em;
	color: rgb(76, 67, 65);
	width: 5em;
	height: 1.4em;
	line-height: 1.4em;
	text-align: center;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	background: rgb(226,226,226);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* W3C */
}

.enter a:hover {
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(49%, rgba(209,209,209,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(100%, rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* W3C */
}

/*footer styles*/
#pageFooter {
	background: rgb(173, 169, 130);
	padding-top: 1.5em;
}

input[type="search"] {
	width: 250px;
}

#pageFooter label {
	display: block;
	font-size: 1.2em;
	text-transform:uppercase;
}

#pageFooter p {
	float: right;
	clear: right;
	margin-right: 3.9%;
	text-align: right;
}

#pageFooter a {
	display:block;
	height: 100px;
	line-height: 100px;
	border: none;
	color:rgb(76, 67, 65);
	padding-left: 95px;
	background: url(../_images/tweet_90.png) no-repeat;
}

#pageFooter form {
	float: left;
	margin-left: 50px;
	display: inline;
}

.notice {
	width: 300px;
}